@model Ticket

<h2>Create a New Ticket</h2>

@using (Html.BeginForm("InsertErrorTypeToDatabase", "Ticket", "Post"))
{
    <input asp-for="TicketID" type="hidden" value="" />

    <div class="form-group">
        <label for="">Select a Error Type</label>
        <select class="form-control" name="ErrorTypeID" value="">
            @foreach (var tic in Model.ErrorType)
            {
                <option value="@tic.ErrorTypeID">@tic.ErrorTypeID @tic.ErrorName</option>
            }
        </select>
    </div>

    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" value="" />

    
    <label asp-for="Submitter" class="control-label">Submitter</label>
    <input type="text" name="Submitter" class="form-control" value="" />


    <input type="submit" value="Create Product" class="btn btn-primary" />
}